

@inherits MyComponentBase
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject AppService appService
@inject ISnackbar Snackbar


    <div class="header">
        <div><MudText Typo="Typo.h6">Popular</MudText></div>
        <MudButton Variant="Variant.Text"
                   Class="ml-5"
               EndIcon="@Icons.Material.Filled.MoreHoriz"
                   IconSize="Size.Small"
                   Size="Size.Small"
                   Disabled="@(_mydatatrend == null)"
                   OnClick="@(()=>GotoPopup())"
                   Color="Color.Primary">More</MudButton>
    </div>
    @if (_mydatatrend == null)
    {
        <MudSkeleton Class="mt-1" Height="40px" />
        <MudSkeleton Class="mt-1" Height="40px" />
        <MudSkeleton Class="mt-1" Height="40px" />
        <MudSkeleton Class="mt-1" Height="40px" />
    }
    else
    {
        @if (!_mydatatrend.Any())
        {
            <Empty OnRefresh="GetPopularListAsync" />
        }
        else
        {
            <MudList Clickable="true">
                @foreach (var myFavorite in _mydatatrend)
                {
                    <MudListItem>
                        <div class="d-flex align-center my-popular" @onclick="@(()=>GotoDetail(myFavorite.DocumentData.IdDoc))">
                            <div class="flex-grow-0 tool">
                                <MudIconButton Icon="@Icons.Material.Filled.MenuBook"
                                               Size="Size.Medium"
                                               OnClick="@(()=>GotoDetail(myFavorite.DocumentData.IdDoc))"></MudIconButton>

                            </div>
                            <div class="d-flex align-center flex-grow-1 info">
                             @*  <MudAvatar 
                                  Color="Color.Primary" 
                                  Variant="Variant.Outlined" 
                                  Class="mr-3"> *@
                            <MudImage Src="@myFavorite.DocumentData.Image"
                                      Width="60"
                                      Height="60"
                                      Elevation="5"
                                      ObjectFit="ObjectFit.Cover"
                                      Class="rounded-lg mr-3" />
                               @*  </MudAvatar> *@
                                <div>
                                    <div class="info-name">@myFavorite.DocumentData.Name</div>
                                    <div class="music-count">
                                    Update: @UtilsDate.GetDate(myFavorite.DocumentData.Date)
                                      @*   Genres:@myFavorite.DocumentData.Genres *@
                                    </div>
                                <div class="music-count">Auth(s): @myFavorite.DocumentData.Auth</div>
                                </div>
                            </div>
                        </div>
                    </MudListItem>
                    <MudHidden Breakpoint="Breakpoint.MdAndUp">
                        <MudDivider />
                    </MudHidden>
                }
            </MudList>
        }
    }
@code {


    private List<ResponseTrend>? _mydatatrend;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (IsNotLogin)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }
        await GetPopularListAsync();
    }

    private async Task GetPopularListAsync()
    {
        _mydatatrend = null;
        _mydatatrend = await appService.GetDataPopup();

        Console.WriteLine(_mydatatrend);
    }


    private void GotoPopup()
    {
        NavigationManager.NavigateTo($"/popup");
    }
    private void GotoDetail(string idDoc)
    {
        NavigationManager.NavigateTo($"/detail/{idDoc}");
    }
}
