@inherits MyComponentBase
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject AppService appService
@inject ISnackbar Snackbar

@inject ILogger<Info> _logger

<RouteAnimation>
    <div class="blurBgMask"></div>
    <div class="blur" style="background-image:url(@(_dataInfo?.image??"https://jiuling.cc/images/music.svg"))"></div>

    <div class="page music-page">

        <div class="tool-bar d-flex align-center">
            <MudIconButton Class="flex-grow-0"
                           Icon="@Icons.Material.Filled.KeyboardArrowDown"
                           Size="Size.Medium"
                           Style="color:var(--mud-palette-white);"
                           ></MudIconButton>

            <div class="flex-grow-1 d-flex justify-end">
                <MudIconButton Icon="@Icons.Material.Filled.Share"
                               Size="Size.Small"
                               Style="color:var(--mud-palette-white);"
                               ></MudIconButton>
            </div>

            <MudHidden Breakpoint="Breakpoint.SmAndDown">
             
            </MudHidden>
        </div>

        <div class="music-image">
            @if (_dataInfo == null)
            {
                <MudSkeleton Class="mt-1" SkeletonType="SkeletonType.Circle" Width="200px" Height="200px" />
            }
            else
            {
                <div class="music-image-avatar animation-paused">
                    <img class="music-img mud-elevation-25"
                         src="@(_dataInfo?.image)" />
                </div>
            }

        </div>

        <div class="music-detail d-flex flex-column align-center">
            @if (_dataInfo == null)
            {
                <MudSkeleton Width="120px" Height="60px" />
            }
            else
            {
                <div class="title">
                    <div class="name">
                        @_dataInfo?.name
                    </div>
                </div>
                <div class="artist-album d-flex align-center">
                    <div class="artist">
                        @_dataInfo?.nameOther
                    </div>
                    <div class="album">
                        @($" - {_dataInfo?.view}")
                    </div>
                </div>
            }

            <div class="lyric">
                @if (_dataInfo.desc == null)
                {
                    <MudSkeleton Class="ml-5 mr-5" Style="transform-origin: 0 0;" Height="300px" />
                }
                else
                {
                    <div class="lyric-row highlight">@_dataInfo.desc</div>
                   
                }
            </div>
        </div>
    </div>
</RouteAnimation>
@code {
    [Parameter]
    public string iddoc { get; set; }

    private ResponseDataDocument? _dataInfo;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (IsNotLogin)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }
        await GetTrendsListAsync();
    }

    private async Task GetTrendsListAsync()
    {
        _dataInfo = null;
        try {
            _dataInfo = await appService.GetDataInfo(iddoc);

        }catch(Exception ex)
        {

        }
        finally
        {
            
        }
        Console.WriteLine();
    }


    private void GotoPopup()
    {
        NavigationManager.NavigateTo($"/trend");
    }
}
